<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Count</title>
  </head>
  <body>
    <form action="/increment" method="post">
      <input type="submit" value="Increment">
    </form>
    <form action="/decrement" method="post">
      <input type="submit" value="Decrement">
    </form>
    <form action="/reset" method="post">
      <input type="submit" value="Reset">
    </form>
    <div id="count"><%= @counter.count %></div>
    <div id="time"> <%=@counter.time%> </div>
  </body>
</html>








<!-- View – what the user sees. Has
template engines e.g. erb -->
